extends _shared

block body
    .services
        h2 Services we provide

        //- Implement filtering here
        form.navbar-form(action="/services" method="post")
            div.input-group
                select.form-control(role="search" name="type")
                    for type in types
                        option(value=type selected=(opt === type ?  "selected" : undefined))= type
                div.input-group-btn
                    button.btn.btn-default(type="submit") Filter
        hr

        ul.list-group
            for service in services
                li.list-group-item
                    h4= service.job
                    p= service.cost
                    p= service.type
